/* Base styles */
.education-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: padding-left 0.7s; /* Ensure smooth transition */
}

.education-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 25px;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.education-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  color: black;
}

.education-item {
  background-color: #fff;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 220px; /* Adjust width to fit the image and padding */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.education-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-image {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-icon {
  font-size: 2.5rem;
  margin: 10px 0;
}

.professional-education-section {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  text-align: left;
  animation: fadeIn 1s ease-in-out;
}

.professional-education-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.professional-education-section ul {
  list-style-type: none;
  padding: 0;
}

.professional-education-section li {
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.professional-education-section h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.professional-education-section p {
  font-size: 1.1rem;
  color: #666;
}

.education-description {
  padding: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .education-container {
    padding-left: 70px; /* Add padding to prevent content from being hidden by navbar */
    padding-right: 10px; /* Add right padding */
  }

  .education-hero-section {
    padding: 20px;
  }

  .education-item {
    width: 100%; /* Adjust width to fit smaller screens */
    margin-bottom: 20px; /* Add margin between cards on smaller screens */
  }

  .education-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .professional-education-section {
    padding: 20px;
  }

  .professional-education-section h2 {
    font-size: 1.5rem;
  }

  .professional-education-section h3 {
    font-size: 1.2rem;
  }

  .professional-education-section p {
    font-size: 1rem;
  }
}
