
.navbar {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100%;
    width: 60px;
    background-color: rgb(255, 255, 255);
    transition: width 0.7s;
    overflow: hidden;
    z-index: 1000;
    border-radius: 15px;
    border-right: 2px solid black;
  }
  
  .navbar.open {
    width: 170px;
  }
  
  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: black;
    cursor: pointer;
    font-size: 24px;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: background-color 0.3s;
    border: 1px solid black;
    border-radius: 40px;
    padding: 1px 0px;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .nav-links li:hover {
    background-color: #727272;
    font-size: 20px;
  }
  
  .nav-links li:hover a {
    color: rgb(255, 255, 255); /* Change link color to white on hover */
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
  
  .nav-links a:hover {
    color: rgb(255, 255, 255); /* Ensure link color remains white when hovered */
  }
  
  .navibar-para1{
    align-items: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    margin-top: 18px;
  }
  
  .navibar-para1:hover{
    font-size: 48px;
  }
  